<head>
    <title>
        delete-category
    </title>
</head>
<form xmlns:th="http://www.thymeleaf.org" th:action="@{~/category/remove}" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete Category</h5>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input id="id" type="text" name="id" class="form-control" th:value="${category.id}" readonly>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input id="name" type="text" name="name" class="form-control" th:value="${category.name}" readonly>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input id="description" type="text" name="description" class="form-control" th:value="${category.description}" readonly>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger">Delete</button>
                <a th:href="@{~/category}" class="btn btn-secondary" style="margin-left: 1px">Close</a>
            </div>
        </div>
    </div>
</form>