<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="bg-body-tertiary p-5 rounded">
        <h1>Contoh navbar</h1>
        <p class="lead">ini adalah template pertama yg saya gunakan dan saya masih belajar menggunakan template</p>
        <a class="btn btn-lg btn-primary" href="../components/navbar/" role="button">Click disini&raquo;</a>
    </div>
</div>
</body>
</html>